<!--
<div class="row">
    <div class="col-md-6 offset-md-3 position-relative">
      <h4 style="color:rgb(220,120,120); margin-bottom:2px;">
        {{job['title']}}
      </h4>
      <div>Location:{{job['location']}}</div>
      {% if 'salary' in job %}
        <div style="margin-bottom:6px;">Salary:{{job['salary']}}</div>
      {% else %}
        <div style="margin-bottom:6px;">Salary:No Salary</div>
      {% endif %}
      <div class="border-bottom"></div>
      <div class="position-absolute top-50 end-0 translate-middle-y">
        <button class="btn btn-primary">Apply Now</button>
      </div>
    </div>
  </div>
</div>
-->
 <div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px;">
        <div class="col-10">
          <h4 style="color:rgb(220,120,120); margin-bottom:2px;">
            {{job['title']}}
          </h4>
          <div>Location:{{job['location']}}</div>
          {% if 'salary' in job %}
            <div style="margin-bottom:6px;">Salary:{{job['salary']}}</div>
          {% else %}
            <div style="margin-bottom:6px;">Salary:No Salary</div>
          {% endif %}
          </div>
         
          <div class="col-2 d-flex align-items-center">
            <button class="btn btn-primary">Apply Now</button>
          </div>
   </div>
